/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif; 
  background-image: url('../images/bgimg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}
